{% for node in l3leaf.nodes | default([]) %}
{%     if lookup('env', 'SINGLE_DC_L3LS_' ~ (node.name | replace("-", "_") | upper)) | length > 0 and lookup('env', 'SINGLE_DC_L3LS_DC1_MGMT_MASK') | length > 0 %}
{%       if 'mgmt_ip' in node and 'name' in node %}
{%         do node.update({ 'mgmt_ip': lookup('env', 'SINGLE_DC_L3LS_' ~ (node.name | replace("-", "_") | upper)) ~ '/' ~ lookup('env', 'SINGLE_DC_L3LS_DC1_MGMT_MASK') }) %}
{%       endif %}
{%     endif %}
{% endfor %}
{% for node_group in l3leaf.node_groups | default([]) %}
{%   for node in node_group.nodes | default([]) %}
{%       if lookup('env', 'SINGLE_DC_L3LS_' ~ (node.name | replace("-", "_") | upper)) | length > 0 and lookup('env', 'SINGLE_DC_L3LS_DC1_MGMT_MASK') | length > 0 %}
{%         if 'mgmt_ip' in node and 'name' in node %}
{%           do node.update({ 'mgmt_ip': lookup('env', 'SINGLE_DC_L3LS_' ~ (node.name | replace("-", "_") | upper)) ~ '/' ~ lookup('env', 'SINGLE_DC_L3LS_DC1_MGMT_MASK') }) %}
{%         endif %}
{%       endif %}
{%   endfor %}
{% endfor %}
{{ l3leaf }}