{% set ns = namespace() %}
{% set ns.spine_updated = {} %}
{% set ns.nodes = [] %}
{% for node in spine.nodes | arista.avd.default([]) %}
{%   do ns.nodes.append(node) %}
{%   do ns.nodes[-1].update({'mgmt_ip': lookup('env', 'SINGLE_DC_L3LS_' ~ (node.name | replace("-", "_") | upper)) ~ '/' ~ lookup('env', 'SINGLE_DC_L3LS_DC1_MGMT_MASK') }) %}
{%   do ns.spine_updated.update('nodes': ns.nodes) %}
{% endfor %}
{{ spine | ansible.builtin.combine(ns.spine_updated, recursive=true) }}
